$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import "customVariables";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "bootstrapCustom";

$map-info-margin-vertical: 20px;
$map-info-margin-horizontal: 20px;
$map-info-padding-vertical: 10px;
$map-info-padding-horizontal: 10px;

#map {
  float: left;
  position: relative;
  width: 100%;
}

.map-svg {
  height: -webkit-calc(100vh - (#{$navbar-height} + 5px));
  height:    -moz-calc(100vh - (#{$navbar-height} + 5px));
  height:         calc(100vh - (#{$navbar-height} + 5px));
}

.map-overlay {
  fill: none;
  pointer-events: all;
}

.map-tooltip {
  position: absolute;
  z-index: 10;
  visibility: hidden;
  background-color: #fff;
  padding: $padding-base-vertical $padding-base-horizontal;
  border-radius: $border-radius-base;
}
.map-container {
}

.map-info {
  float: left;
  position: absolute;
  z-index: 10;
  width: 320px;
  margin: $map-info-margin-vertical $map-info-margin-horizontal;
  padding: $padding-large-vertical $padding-large-horizontal;
  text-align: left;
}

.map-description {
  margin: $map-info-margin-vertical 0;
  padding: $map-info-padding-vertical $map-info-padding-horizontal;
  background-color: #fff;
  border-radius: $border-radius-base;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.map-item-title {
  font-size: 1.5em;
  padding: 0 0 $padding-large-vertical 0;
}
