$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import "customVariables";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "bootstrapCustom";

#map {
  float: left;
  position: relative;
  width: 100%;
}

.map-svg {
  height: -webkit-calc(100vh - (#{$navbar-height} + 5px));
  height:    -moz-calc(100vh - (#{$navbar-height} + 5px));
  height:         calc(100vh - (#{$navbar-height} + 5px));
}

.map-overlay {
  fill: none;
  pointer-events: all;
}

.map-tooltip {
  position: absolute;
  z-index: 10;
  visibility: hidden;
  background-color: #fff;
  padding: $padding-base-vertical $padding-base-horizontal;
  border-radius: $border-radius-base;
}
.map-container {
}

.map-info {
  float: left;
  position: absolute;
  z-index: 10;
  width: 320px;
  padding: $padding-large-vertical $padding-large-horizontal;
  text-align: left;
}
