<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-7">
        <div class="row">
          <a href="http://www.insa.gov.br/" class="link-img" target="_blank">
            <img src="images/insa.svg" alt="Instituto Nacional do Semiárido" width="150px" height="116px">
          </a>
          <a href="http://www.insa.gov.br/sigsab/" class="link-img" target="_blank">
            <img src="images/sigsab.svg" alt="Sistema de Gestão da Informação e do Conhecimento do Semiárido Brasileiro" width="150px" height="116px">
          </a>
        </div>
      </div>
      <div class="col-xs-5">
        <div class="row text-right">
          <a href="http://www.mcti.gov.br/" class="link-img" target="_blank">
            <img src="images/mcti.svg" alt="Ministério da Ciência, Tecnologia, Inovações e Comunicações" width="150px" height="116px">
          </a>
          <a href="http://www.brasil.gov.br/" class="link-img" target="_blank">
            <img src="images/governo_federal.svg" alt="Brasil" width="150px" height="116px">
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
