<div class="section section-inverse section-expande">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-sm-offset-1 hidden-xs">
        <img src="images/mockup.png" alt="Converse com a gente" width="100%" />
      </div>
      <div class="col-sm-6 col-sm-offset-1">
        <h3 class="section-title section-title-inverse">INFORME-SE</h3>
        <p>Você pode consultar o estado dos reservatórios do Semiárido a qualquer momento ou se cadastrar para receber atualizações sempre que houver novas medições de reservatórios de seu interesse usando o <a href="https://m.me/696527830503502" class="inverse" target="_blank">Facebook Messenger</a>.</p>
        <br>
        <!-- <a href="https://m.me/696527830503502" class="btn btn-info" target="_blank"><span class="icon-facebook"></span> &nbsp; Converse conosco</a> -->
        <p class="text-info">Em breve</p>
        <br>
        <br>
        <br>
        <p>Curta nossa página do <a href="https://www.facebook.com/Olho-N%C3%A1gua-696527830503502/" class="inverse" target="_blank">Facebook</a> para acompanhar o que acontece com os reservatórios do semiárido brasileiro. Curta também a página do <a href="https://www.facebook.com/InsaMcti/?fref=ts" class="inverse" target="_blank">INSA</a> para não perder nenhuma novidade sobre o semiárido.</p>
        <br>
        <br>
        <p>Para conhecer mais dados sobre o semiárido acesse o <a href="http://www.insa.gov.br/sigsab/" class="inverse" target="_blank">SIGSAB</a>.</p>
        <br>
        <br>
        <p>Para entrar em contato conosco envie um email para <a href="mailto:olhonagua@insa.gov.br?Subject=INSA" class="inverse" target="_blank">olhonagua@insa.gov.br</a>.</p>
      </div>
    </div>
  </div>
</div>

<ng-include src="'views/footer.html'"></ng-include>
