<div class="section section-gray section-expande">
  <div class="container">
    <div class="form-login">
      <h3 class="text-center">Acesso restrito</h3>
      <form name="formLogin">
        <div class="form-group">
          <label for="usuario">Usuário</label>
          <input type="text" id="usuario" class="form-control" ng-model="ctrl.user" placeholder="usuario" required>
        </div>
        <div class="form-group">
          <label for="senha">Senha</label>
          <input type="password" id="senha" class="form-control" ng-model="ctrl.password" placeholder="senha" required>
        </div>
        <a ui-sref="atualizar">
          <button type="submit" class="btn btn-default btn-block" ng-disabled="!formLogin.$valid">Entrar</button>
        </a>
      </form>
    </div>
  </div>
</div>

<ng-include src="'views/footer.html'"></ng-include>
