<div class="section section-gray section-expande">
  <div class="container">
    <div class="form-login">
      <h3 class="text-center">Acesso restrito</h3>

      <form name="formLogin" ng-hide="ctrl.isAuthenticated()">
        <div class="form-group">
          <label for="usuario">Usuário</label>
          <input type="text" id="usuario" class="form-control" ng-model="ctrl.user.email" placeholder="usuario" required>
        </div>
        <div class="form-group">
          <label for="senha">Senha</label>
          <input type="password" id="senha" class="form-control" ng-model="ctrl.user.password" placeholder="senha" required>
        </div>
        <button type="submit" class="btn btn-default btn-block" ng-click="ctrl.login()">Entrar</button>
      </form>
      <div ng-show="ctrl.isAuthenticated()">
        <a ui-sref="atualizar" class="btn btn-default btn-block">Entrar novamente</a>
        <button type="submit" class="btn btn-default btn-block" ng-click="ctrl.logout()">Sair</button>
      </div>
    </div>
  </div>
</div>

<ng-include src="'views/footer.html'"></ng-include>
