<div class="section section-gray section-expande">
  <div class="container">
    <div class="form-login">
      <h3 class="text-center">Acesso restrito</h3>
      <form name="formLogin" ng-hide="ctrl.isAuthenticated()">
        <div class="form-group">
          <label for="exampleInputEmail1">Usuário</label>
          <input type="text" class="form-control" placeholder="usuario" ng-model="ctrl.user.email">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Senha</label>
          <input type="password" class="form-control" placeholder="senha" ng-model="ctrl.user.password">
        </div>
        <button type="submit" class="btn btn-default btn-block" ng-click="ctrl.login()">Entrar</button>
      </form>
      <div ng-show="ctrl.isAuthenticated()">
        <button type="submit" class="btn btn-default btn-block" ng-click="ctrl.logout()">Sair</button>
      </div>
    </div>
  </div>
</div>

<ng-include src="'views/footer.html'"></ng-include>
