<div class="section-mapa">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <ng-include src="'images/mapa_equivalente.svg'"></ng-include>
      </div>
      <span us-spinner ng-show="main.loadingInfo"></span>
      <div class="col-sm-6" ng-hide="main.loadingInfo">
        <h2>{{main.estadoAtual.semiarido}}</h2>
        <p><strong>{{main.estadoAtual.total_reservatorios}}</strong> reservatório(s) monitorado(s)</p>
        <p><strong>{{main.estadoAtual.quant_reservatorio_sem_info}}</strong> reservatório(s) sem informação</p>
        <div class="main-graphics">
        <h4>Situação dos reservatórios:</h4>
          <sab-barra-equivalente info-estado="main.estadoAtual" cores="main.coresReservatorios"></sab-barra-equivalente>
          <br><br>
          <div ng-show="main.estadoAtual.capacidade_equivalente">
            <sab-volume
              capacidade="main.estadoAtual.capacidade_equivalente | sabVolume"
              volume="main.estadoAtual.volume_equivalente | sabVolume"
              percentual="main.estadoAtual.porcentagem_equivalente"></sab-volume>
          </div>
          <div ng-hide="main.estadoAtual.capacidade_equivalente">
            <p><strong> Não possuimos informações recentes acerca dos reservatórios desse estado.</strong></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="call-to-action-text col-sm-6 text-right">
        Fique de olho nas águas dos reservatórios
      </div>
      <div class="col-sm-6">
       <a ui-sref="mapa" class="btn btn-lg btn-danger"><span class="glyphicon glyphicon-map-marker"></span> Veja no mapa</a>
      </div>
    </div>
  </div>
</div>

<div class="section section-inverse">
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <div class="row">
           <ul class="list-unstyled">
              <li><h2>Assuntos</h2></li>
              <li><a href="#" class="inverse">Sobre</a></li>
              <li><a href="#" class="inverse">Equipe</a></li>
              <li><a href="#" class="inverse">Parceiros</a></li>
              <li><a href="#" class="inverse">De olho n'Água</a></li>
            </ul>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="row">
          <ul class="list-unstyled">
            <li><h2>Serviços</h2></li>
            <li><a href="http://www.insa.gov.br/" class="inverse">INSA</a></li>
            <li><a href="http://www.insa.gov.br/sigsab/" class="inverse">SIGSAB</a></li>
            <li><a href="www.acessoainformacao.gov.br/" class="inverse">Acesso à informação</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-4">
          <ul class="list-unstyled">
            <li><h2>Redes sociais</h2></li>
            <li><a href="https://www.facebook.com/InsaMcti/?fref=ts/" class="inverse">Facebook</a></li>
          </ul>
      </div>
    </div>
  </div>
</div>

<div class="section section-final">
  <div class="container">
    <div class="row">
      <div class="col-xs-7">
        <div class="row">
          <a href="http://www.insa.gov.br/">
            <img src="images/insa.svg" alt="" style="width: 150px;">
          </a>
          <a href="http://www.insa.gov.br/sigsab/">
            <img src="images/sigsab.svg" alt="" style="width: 150px;">
          </a>
        </div>
      </div>
      <div class="col-xs-5">
        <div class="row text-right">
          <a href="http://www.mcti.gov.br/">
            <img src="images/mcti.png" alt="" style="width: 150px;">
          </a>
          <a href="http://www.brasil.gov.br/">
            <img src="images/brasil.png" alt="" style="width: 150px;">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
