<section class="map-container">
  <div class="map-info">
    <div class="input-group">
      <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
      <input
        type="text"
        class="form-control"
        placeholder="Pesquisar..."
        ng-model="reservatorioSelecionado"
        uib-typeahead="reservatorio as (reservatorio.Reserv + ' (' + reservatorio.Municipio + ' - ' + reservatorio.Estado + ')') for reservatorio in main.reservatorios | filter:$viewValue"
        typeahead-min-length="3">
    </div>
  </div>
  <div id="map"></div>
</section>
<script type="text/javascript">
var
  width = 800,
  height = 400;
var projection = d3.geo.mercator()
  .scale(1000)
  .translate([width * 1.6, height * 0.05]);
var path = d3.geo.path()
  .projection(projection);
var zoom = d3.behavior.zoom()
    .translate([0, 0])
    .scale(1)
    .scaleExtent([1, 8])
    .on("zoom", zoomed);
var svg = d3.select("#map")
  .append("svg")
  .attr({
    "version": "1.1",
    "viewBox": "0 0 "+width+" "+height,
    "width": "100%",
    "class": "map-svg"})
  .call(zoom);

var features = svg.append("g");

d3.json("http://localhost:5003/estados_brasil", function(error, br) {
  if (error) return console.error(error);

  var regioes = topojson.feature(br, br.objects.estado_sab);

  features.append("path")
    .datum(regioes)
    .attr("class", "brasil")
    .attr("d", path)
    .style('fill', 'rgba(236, 240, 241, 0.4)')
    .style('stroke', '#bdc3c7');
});

d3.json("http://localhost:5003/limites_sab", function(error, br) {
  if (error) return console.error(error);

  var limites = topojson.feature(br, br.objects.limite_sab);

  features.append("path")
    .datum(limites)
    .attr("class", "sab")
    .attr("d", path)
    .style('fill', 'rgba(243, 156, 18, 0.4)')
    .style('stroke', '#f39c12');
});

var tooltip = d3.select("body")
  .append("div")
  .attr("class", "map-tooltip");

var mouseOnEvent = function(d) {
  d3.json("http://localhost:5003/info_reservatorios/" + d.id, function(error, r) {
        tooltip.html(
          "<strong>Reservatorio:</strong> " + r["Reservatório_ANA_JU"]["0"]["Bacia"] + "<br>" +
          "<strong>Estado:</strong> " + r["Reservatório_ANA_JU"]["0"]["Estado"] + "<br>" +
          "<strong>Capacidade:</strong> " + r["Reservatório_ANA_JU"]["0"]["Cap (hm3)"]).style("visibility", "visible");
      });
      var destaque = d3.select(this);
      // transition to increase size/opacity of bubble
      destaque.transition()
            .duration(800).style("opacity", 1);
};

var mouseMoveEvent = function() {
  tooltip.style("top", (event.pageY-10)+"px").style("left",(event.pageX+10)+"px");
};

var mouseOffEvent = function(d) {
  var destaque = d3.select(this);
          // transition to increase size/opacity of bubble
          destaque.transition()
                .duration(800).style("opacity", 0.3);

          tooltip.style("visibility", "hidden");
};

d3.json("http://localhost:5003/reservatorios_sab", function(error, r) {
  if (error) return console.error(error);

  var reservatorio = topojson.feature(r, r.objects.reservatorios_geojson);

  features
    .selectAll(".reservatorio")
    .data(reservatorio.features)
    .enter()
    .append("path")
    .attr('id', function(d) { return d.id; })
    .attr("class", "reservatorio")
    .attr("d", path)
    .style('fill', '#3498db')
    .style("opacity", 0.3)
    .attr("width", 10)
    .attr("height", 10)
    .on("mouseover", mouseOnEvent)
    .on("mousemove", mouseMoveEvent)
    .on("mouseout", mouseOffEvent);
});

function zoomed() {
  features.attr("transform", "translate(" + d3.event.translate + ")scale(" + d3.event.scale + ")");
  features.select(".state-border").style("stroke-width", 1.5 / d3.event.scale + "px");
  features.select(".county-border").style("stroke-width", .5 / d3.event.scale + "px");
}
</script>
