<div class="map-container">

<div class="map-type-tab">
  <ul class="nav nav-tabs">
    <li role="presentation" ng-class="{'active': ctrl.isSelectedMapType(0)}"><a href="" ng-click="ctrl.setSelectedMapType(0)"> Reservatorios</a></li>
    <li role="presentation" ng-class="{'active': ctrl.isSelectedMapType(1)}"><a href="" ng-click="ctrl.setSelectedMapType(1)">Estados</a></li>
  </ul>
</div>
  <div class="map-controls-wrapper">

    <div class="search-bar hidden-xs"  ng-show="ctrl.isSelectedMapType(0)">
      <div class="input-group">
        <span class="input-group-addon search-addon"><span class="glyphicon glyphicon-search"></span></span>
        <input
          type="text"
          class="form-control search-input"
          placeholder="Pesquisar reservatório..."
          ng-model="reservatorioSelecionado"
          uib-typeahead="reservatorio as reservatorio.reservat for reservatorio in ctrl.reservatorios | filter:$viewValue"
          typeahead-min-length="3"
          typeahead-on-select="ctrl.setReservatorio(reservatorioSelecionado.id); reservatorioSelecionado = '';"
          ng-focus="ctrl.hideInfo()">
      </div>
    </div>

    <div class="map-info">

      <div class="info-card" ng-show="ctrl.reservatorioSelecionado.reservat" ng-if="ctrl.isSelectedMapType(0)">

        <div class="info-card-header">
          <a href="" class="info-card-showhide-btn" ng-click="ctrl.toggleInfo()">
            <span class="glyphicon" ng-class="{'glyphicon-chevron-down': ctrl.showInfo, 'glyphicon-chevron-up': !ctrl.showInfo}"></span>
          </a>
          <h2 class="info-card-title">{{ctrl.reservatorioSelecionado.reservat}}</h2>
        </div>

        <div  ng-if="ctrl.showInfo">

          <div class="info-card-body">

            <span us-spinner ng-show="ctrl.loadingInfo"></span>

            <div class="info-card-tab" ng-if="ctrl.isSelectedTab(0)">
              <div class="info-card-row" ng-show="ctrl.reservatorioSelecionado.nome"><strong>Nome</strong> {{ctrl.reservatorioSelecionado.nome}}</div>
              <div class="info-card-row" ng-show="ctrl.reservatorioSelecionado.municipio"><strong>Localidade</strong> {{ctrl.reservatorioSelecionado.municipio + ' - ' + ctrl.reservatorioSelecionado.estado}}</div>
              <div class="info-card-row" ng-show="ctrl.reservatorioSelecionado.bacia"><strong>Bacia</strong> {{ctrl.reservatorioSelecionado.bacia}}</div>
              <div class="info-card-row" ng-show="ctrl.reservatorioSelecionado.tipo"><strong>Tipo</strong> {{ctrl.reservatorioSelecionado.tipo}}</div>
              <div class="info-card-row" ng-show="ctrl.reservatorioSelecionado.area > 0"><strong>Área</strong> {{ctrl.reservatorioSelecionado.area | sabArea}}</div>
            </div>

            <div class="info-card-tab info-card-tab-sm" ng-if="ctrl.isSelectedTab(1)">
              <div class="info-card-row text-center" ng-hide="ctrl.reservatorioSelecionado.volumes.length || ctrl.loadingInfo">
                <br><br><br>
                Não possui dados sobre volume
              </div>
              <div class="info-card-row info-card-row-small" ng-show="ctrl.reservatorioSelecionado.volume">Última medição: {{ctrl.reservatorioSelecionado.data_informacao}}</div>

              <hr class="info-card-divider">

              <div class="row" ng-show="ctrl.reservatorioSelecionado.volumes.length">
                <div class="col-sm-8" ng-show="ctrl.reservatorioSelecionado.volumes.length">
                  <sab-volume
                    capacidade="ctrl.reservatorioSelecionado.capacidade | sabVolume"
                    volume="ctrl.reservatorioSelecionado.volume | sabVolume"
                    percentual="ctrl.reservatorioSelecionado.volume_percentual"></sab-volume>
                </div>
                <div class="col-sm-4 hidden-xs" ng-show="ctrl.reservatorioSelecionado.volumes_recentes.volumes.length">
                  <div class="info-card-row info-card-row-small" ng-show="ctrl.reservatorioSelecionado.volume"><strong>Tendência do volume nos últimos 6 meses {{ctrl.reservatorioSelecionado.volumes_recentes.length}}</strong></div>
                  <hr class="info-card-divider">
                  <sab-volume-recente monitoramento="ctrl.reservatorioSelecionado.volumes_recentes"></sab-volume-recente>
                </div>
              </div>
            </div>

            <div class="info-card-tab info-card-tab-sm" ng-if="ctrl.isSelectedTab(2)">
              <div class="info-card-row text-center" ng-hide="ctrl.reservatorioSelecionado.volumes.length > 2 || ctrl.loadingInfo">
                <br><br><br>
                Não possui dados históricos suficientes
              </div>
              <div class="map-graph" ng-if="ctrl.reservatorioSelecionado.volumes.length > 2">
                <sab-reservatorio-historico monitoramento="ctrl.reservatorioSelecionado.volumes"></sab-reservatorio-historico>
              </div>
            </div>
          </div>

          <div class="info-card-footer">
            <ul class="nav nav-tabs nav-justified">
              <li role="presentation" ng-class="{'active': ctrl.isSelectedTab(0)}"><a href="" ng-click="ctrl.setSelectedTab(0)"><span class="glyphicon glyphicon-info-sign"></span> Info</a></li>
              <li role="presentation" ng-class="{'active': ctrl.isSelectedTab(1)}"><a href="" ng-click="ctrl.setSelectedTab(1)"><span class="glyphicon glyphicon-tint"></span> Volume</a></li>
              <li role="presentation" ng-class="{'active': ctrl.isSelectedTab(2)}"><a href="" ng-click="ctrl.setSelectedTab(2)"><span class="glyphicon glyphicon-stats"></span> Histórico</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="info-card" ng-if="ctrl.isSelectedMapType(1)">

        <div class="info-card-header">
          <a href="" class="info-card-showhide-btn" ng-click="ctrl.toggleInfo()">
            <span class="glyphicon" ng-class="{'glyphicon-chevron-down': ctrl.showInfo, 'glyphicon-chevron-up': !ctrl.showInfo}"></span>
          </a>
          <h2 class="info-card-title">{{ctrl.estadoAtual.semiarido}}</h2>
        </div>

        <div  ng-if="ctrl.showInfo">

          <div class="info-card-body">

            <span us-spinner ng-show="ctrl.loadingInfo"></span>
            <div class="main-status-item">
              <strong>{{ctrl.estadoAtual.total_reservatorios}}</strong> reservatório(s) monitorado(s) <br>
              <strong>{{ctrl.estadoAtual.quant_reservatorio_sem_info}}</strong> reservatório(s) sem informação
            </div>
            <div class="main-graphics">
              <h4>Situação dos reservatórios monitorados:</h4>
              <div ng-hide="ctrl.estadoAtual.capacidade_equivalente">
                <p><strong> Não possuimos informações recentes acerca dos reservatórios desse estado.</strong></p>
              </div>
              <sab-barra-equivalente info-estado="ctrl.estadoAtual" cores="ctrl.coresReservatorios"></sab-barra-equivalente>
              <br><br>
              <div ng-show="ctrl.estadoAtual.capacidade_equivalente">
                <sab-volume
                  capacidade="ctrl.estadoAtual.capacidade_equivalente | sabVolume"
                  volume="ctrl.estadoAtual.volume_equivalente | sabVolume"
                  percentual="ctrl.estadoAtual.porcentagem_equivalente"></sab-volume>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

  <div class="map-controls-nav visible-xs">
    <div class="btn-group-vertical" role="group">
      <button type="button" class="btn btn-default" ng-click="ctrl.toggleSearchbar()"><span class="glyphicon glyphicon-btn glyphicon-search"></span></button>
      <button type="button" class="btn btn-default" ng-click="ctrl.toggleLegend()"><span class="glyphicon glyphicon-btn glyphicon-tasks"></span></button>
    </div>
  </div>

  <span us-spinner ng-show="ctrl.loadingMap"></span>

  <div class="legenda hidden-xs">
    Volume (%)<br><small>(Última medição)</small>
    <sab-legenda-cores-reservatorios cores="ctrl.coresReservatorios"></sab-legenda-cores-reservatorios>
  </div>

  <openlayers id="map" ol-center="ctrl.map.center" ol-defaults="ctrl.map.defaults" custom-layers="true" ol-markers="ctrl.markers">
    <ol-marker ng-repeat="marker in ctrl.map.markers" lat="marker.lat" lon="marker.lon"></ol-marker>
    <ol-layer name="{{layer.name}}" ol-layer-properties="layer" ng-repeat="layer in ctrl.map.layers"></ol-layer>
  </openlayers>

</div>
<sab-error ng-show="ctrl.gotError"></sab-error>

<div class="modal-overlay" ng-show="ctrl.showSearchbar" ng-click="ctrl.toggleSearchbar()"></div>

<div class="search-bar" ng-show="ctrl.showSearchbar">
 <div class="input-group">
   <span class="input-group-addon search-addon"><span class="glyphicon glyphicon-search"></span></span>
   <input
     type="text"
     class="form-control search-input"
     placeholder="Pesquisar reservatório..."
     ng-model="reservatorioSelecionado"
     uib-typeahead="reservatorio as reservatorio.reservat for reservatorio in ctrl.reservatorios | filter:$viewValue"
     typeahead-min-length="3"
     typeahead-on-select="ctrl.setReservatorio(reservatorioSelecionado.id); reservatorioSelecionado = '';"
     ng-focus="ctrl.hideInfo()">
 </div>
</div>
<div class="modal-overlay" ng-show="ctrl.showLegend" ng-click="ctrl.toggleLegend()"></div>
<div class="legenda-lg" ng-show="ctrl.showLegend">
  Volume <br><small>(Última medição)</small>
  <div class="legenda-lg-data">
    <sab-legenda-cores-reservatorios cores="ctrl.coresReservatorios"></sab-legenda-cores-reservatorios>
  </div>
</div>
