<div class="map-container">

  <div class="map-controls-wrapper">

    <div class="search-bar">
      <div class="input-group">
        <span class="input-group-addon search-addon"><span class="glyphicon glyphicon-search"></span></span>
        <input
          type="text"
          class="form-control search-input"
          placeholder="Pesquisar reservatório..."
          ng-model="reservatorioSelecionado"
          uib-typeahead="reservatorio as reservatorio.reservat for reservatorio in ctrl.reservatorios | filter:$viewValue"
          typeahead-min-length="3"
          typeahead-on-select="ctrl.setReservatorio(reservatorioSelecionado); reservatorioSelecionado = '';"
          ng-focus="ctrl.hideInfo()">
      </div>
    </div>

    <div class="map-info">

      <div class="info-card" ng-show="ctrl.reservatorioSelecionado.reservat">

        <div class="info-card-header">
          <a ui-sref="mapa" class="info-card-showhide-btn" ng-click="ctrl.toggleInfo()">
            <span class="glyphicon" ng-class="{'glyphicon-chevron-down': ctrl.showInfo, 'glyphicon-chevron-up': !ctrl.showInfo}"></span>
          </a>
          <h2 class="info-card-title">{{ctrl.reservatorioSelecionado.reservat}}</h2>
        </div>

        <div  ng-if="ctrl.showInfo">

          <div class="info-card-body">

            <span us-spinner ng-show="ctrl.loadingInfo"></span>

            <div class="info-card-tab" ng-if="ctrl.isSelectedTab(0)">
              <div class="info-card-row" ng-show="ctrl.reservatorioSelecionado.nome"><strong>Nome</strong> {{ctrl.reservatorioSelecionado.nome}}</div>
              <div class="info-card-row" ng-show="ctrl.reservatorioSelecionado.municipio"><strong>Localidade</strong> {{ctrl.reservatorioSelecionado.municipio + ' - ' + ctrl.reservatorioSelecionado.estado}}</div>
              <div class="info-card-row" ng-show="ctrl.reservatorioSelecionado.bacia"><strong>Bacia</strong> {{ctrl.reservatorioSelecionado.bacia}}</div>
              <div class="info-card-row" ng-show="ctrl.reservatorioSelecionado.tipo"><strong>Tipo</strong> {{ctrl.reservatorioSelecionado.tipo}}</div>
              <div class="info-card-row" ng-show="ctrl.reservatorioSelecionado.area > 0"><strong>Área</strong> {{ctrl.reservatorioSelecionado.area | sabArea}}</div>
            </div>

            <div class="info-card-tab" ng-if="ctrl.isSelectedTab(1)">
              <div class="info-card-row text-center" ng-hide="ctrl.reservatorioSelecionado.volumes.length || ctrl.loadingInfo">
                <br><br><br>
                Não possui dados sobre volume
              </div>
              <div class="info-card-row info-card-row-small" ng-show="ctrl.reservatorioSelecionado.volume">Última medição: {{ctrl.reservatorioSelecionado.data_informacao}}</div>

              <hr class="info-card-divider">

              <div class="row" ng-show="ctrl.reservatorioSelecionado.volumes.length">
                <div class="col-sm-8" ng-show="ctrl.reservatorioSelecionado.volume_percentual">
                  <sab-volume
                    capacidade="ctrl.reservatorioSelecionado.capacidade | sabVolume"
                    volume="ctrl.reservatorioSelecionado.volume | sabVolume"
                    percentual="ctrl.reservatorioSelecionado.volume_percentual"></sab-volume>
                </div>
                <div class="col-sm-4 hidden-xs" ng-show="ctrl.reservatorioSelecionado.volumes_recentes.volumes.length">
                  <div class="info-card-row info-card-row-small" ng-show="ctrl.reservatorioSelecionado.volume"><strong>Tendência do volume nos últimos 6 meses {{ctrl.reservatorioSelecionado.volumes_recentes.length}}</strong></div>
                  <hr class="info-card-divider">
                  <sab-volume-recente monitoramento="ctrl.reservatorioSelecionado.volumes_recentes"></sab-volume-recente>
                </div>
              </div>
            </div>

            <div class="info-card-tab" ng-if="ctrl.isSelectedTab(2)">
              <div class="info-card-row text-center" ng-hide="ctrl.reservatorioSelecionado.volumes.length || ctrl.loadingInfo">
                <br><br><br>
                Não possui dados sobre volume
              </div>
              <div class="map-graph" ng-if="ctrl.reservatorioSelecionado.volumes.length">
                <sab-reservatorio-historico monitoramento="ctrl.reservatorioSelecionado.volumes"></sab-reservatorio-historico>
              </div>
            </div>
          </div>

          <div class="info-card-footer">
            <ul class="nav nav-tabs nav-justified">
              <li role="presentation" ng-class="{'active': ctrl.isSelectedTab(0)}"><a ui-sref="mapa" ng-click="ctrl.setSelectedTab(0)"><span class="glyphicon glyphicon-info-sign"></span> Info</a></li>
              <li role="presentation" ng-class="{'active': ctrl.isSelectedTab(1)}"><a ui-sref="mapa" ng-click="ctrl.setSelectedTab(1)"><span class="glyphicon glyphicon-tint"></span> Volume</a></li>
              <li role="presentation" ng-class="{'active': ctrl.isSelectedTab(2)}"><a ui-sref="mapa" ng-click="ctrl.setSelectedTab(2)"><span class="glyphicon glyphicon-stats"></span> Histórico</a></li>
            </ul>
          </div>
        </div>

      </div>

    </div>

  </div>

  <span us-spinner ng-show="ctrl.loadingMap"></span>

  <div class="legenda hidden-xs">
    Volume <br><small>(Última medição)</small>
    <sab-legenda-cores-reservatorios cores="ctrl.coresReservatorios"></sab-legenda-cores-reservatorios>
  </div>

  <openlayers id="map" ol-center="ctrl.map.center" ol-defaults="ctrl.map.defaults" custom-layers="true" ol-markers="ctrl.markers">
    <ol-marker ng-repeat="marker in ctrl.map.markers" lat="marker.lat" lon="marker.lon"></ol-marker>
    <ol-layer name="{{layer.name}}" ol-layer-properties="layer" ng-repeat="layer in ctrl.map.layers"></ol-layer>
  </openlayers>

</div>
