<div class="section section-inverse section-expande">
  <div class="container">
    <h1 class="section-title section-title-inverse text-center">PARCEIROS</h1>
    <div class="row">
      <div class="col-xs-6 col-sm-4">
        <a href="http://www.ufcg.edu.br/" target="_blank">
          <img src="images/ufcg.svg" alt="Universidade Federal de Campina Grande" class="partners">
        </a>
      </div>
      <div class="col-xs-6 col-sm-4">
        <a href="https://www.facebook.com/analytics.ufcg/?fref=ts" target="_blank">
          <img src="images/analytics.svg" alt="Laboratório Analytics" class="partners">
        </a>
      </div>
      <div class="col-xs-6 col-sm-4">
        <a href="http://www.hidro.ufcg.edu.br/hid2/" target="_blank">
          <img src="images/lab_hidraulica.svg" alt="Laboratório de Hidráulica II" class="partners">
        </a>
      </div>
    </div>
    <br><br>
    <h3 class="section-title section-title-inverse text-center">FONTE DE DADOS</h3>
    <div class="row">
      <div class="col-xs-6 col-sm-4 col-md-3">
        <a href="http://www.ana.gov.br/" target="_blank">
          <img src="images/ana.svg" alt="Agência Nacional de Águas" class="partners">
        </a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <a href="http://www.aesa.pb.gov.br/" target="_blank">
          <img src="images/aesa.svg" alt="Agência Executiva de Gestão das Águas do Estado da Paraíba" class="partners">
        </a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <a href="http://www.apac.pe.gov.br/" target="_blank">
          <img src="images/apac.svg" alt="Agência Pernambucana de Águas e Clima" class="partners">
        </a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <a href="http://www.cogerh.com.br/" target="_blank">
          <img src="images/cogerh.svg" alt="Companhia de Gestão dos Recursos Hídricos do Ceará" class="partners">
        </a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <a href="http://www.dnocs.gov.br/" target="_blank">
          <img src="images/dnocs.svg" alt="Departamento Nacional de Obras Contra as Secas" class="partners">
        </a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <a href="http://www.funceme.br/" target="_blank">
          <img src="images/funceme.svg" alt="Fundação Cearense de Meteorologia e Recursos Hídricos" class="partners">
        </a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <a href="http://www.inema.ba.gov.br/" target="_blank">
          <img src="images/inema.svg" alt="Instituto do Meio Ambiente e Recursos Hídricos" class="partners">
        </a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <a href="http://www.rn.gov.br/" target="_blank">
          <img src="images/governo_rn.svg" alt="Governo do Estado do Rio Grande do Norte" class="partners">
        </a>
      </div>
    </div>
  </div>
</div>

<ng-include src="'views/footer.html'"></ng-include>
