<div class="section section-inverse section-expande">
  <div class="container">
    <h3 class="section-title section-title-inverse text-center">PARCEIROS</h3>
    <div class="row">
      <div class="col-xs-6 col-sm-4 col-md-3">
        <a href="http://www.ufcg.edu.br/">
          <img src="images/ufcg.svg" alt="" class="partners">
        </a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <a href="https://www.facebook.com/analytics.ufcg/?fref=ts">
          <img src="images/analytics.svg" alt="" class="partners">
        </a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <a href="http://www.ana.gov.br/">
          <img src="images/ana.svg" alt="" class="partners">
        </a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <a href="http://www.aesa.pb.gov.br/">
          <img src="images/aesa.svg" alt="" class="partners">
        </a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <a href="http://www.apac.pe.gov.br/">
          <img src="images/apac.svg" alt="" class="partners">
        </a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <a href="http://www.cogerh.com.br/">
          <img src="images/cogerh.svg" alt="" class="partners">
        </a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <a href="http://www.dnocs.gov.br/">
          <img src="images/dnocs.svg" alt="" class="partners">
        </a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <a href="http://www.funceme.br/">
          <img src="images/funceme.svg" alt="" class="partners">
        </a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <a href="http://www.inema.ba.gov.br/">
          <img src="images/inema.svg" alt="" class="partners">
        </a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <a href="http://www.rn.gov.br/">
          <img src="images/governo_rn.svg" alt="" class="partners">
        </a>
      </div>
    </div>
  </div>
</div>

<ng-include src="'views/footer.html'"></ng-include>
