<nav class="navbar navbar-default">
  <div ng-class="{'container-fluid': expanded, 'container': !expanded}">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img src="images/logo.svg" alt="Home" width="220px" height="110px">
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="text-center">
          <a ui-sref="home">
            <span class="icon-lg icon-about"></span><br>Início
          </a>
        </li>
        <li class="text-center">
          <a ui-sref="sobre">
            <span class="icon-lg icon-partners"></span><br>Sobre
          </a>
        </li>
        <li class="text-center">
          <a ui-sref="mapa">
            <span class="icon-lg icon-staff"></span><br>Fique de olho
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
