<div class="section section-text">
  <div class="container">
    <h3 class="section-title">SOBRE</h3>
    <span>
      <p>
        O sistema Olho N’Água é fruto de uma parceria do Instituto Nacional do Semiárido (INSA) e da Universidade Federal de Campina Grande (UFCG), através do Laboratório de Sistemas Distribuídos (LSD), com o objetivo de compartilhar com a sociedade informações atualizadas da disponibilidade de água nos principais reservatórios que atendem os quase 24 milhões de habitantes da região semiárida. Este esforço é parte integrante do Sistema de Gestão da Informação e do Conhecimento do Semiárido Brasileiro (SIGSAB), que reúne e disponibiliza informações econômicas, sociais, ambientais e da infraestrutura do Semiárida Brasileiro.
      </p>
      <p>
        Atualmente, o sistema Olho N’Água acompanha 452 reservatórios de água distribuídos na porção Semiárida dos nove Estados (Alagoas, Bahia, Ceará, Minas Gerais, Paraíba, Pernambuco, Piauí, Rio Grande do Norte e Sergipe) que compõem a região, totalizando uma capacidade máxima de armazenamento de 40.256 hm³.
      </p>
      <p>
        As informações dos níveis dos reservatórios são oriundas do monitoramento mensal realizado pela Agência Nacional de Águas (ANA), Agência Executiva de Gestão das Águas do Estado da Paraíba (AESA), Agência Pernambucana de Águas e Clima (APAC), Companhia de Gestão dos Recursos Hídricos (COGERH), Departamento Nacional de Obras Contra a Seca (DNOCS), Fundação Cearense de Meteorologia e Recursos Hídricos (FUNCEME), Instituto do Meio Ambiente e Recursos Hídricos (INEMA) e da Secretaria de Estado do Meio Ambiente e dos Recursos Hídricos do Rio Grande do Norte (SEMARH-RN).
      </p>
    </span>
  </div>
</div>

<div class="section section-inverse">
  <div class="container">
    <h3 class="section-title">EQUIPE</h3>
    <div class="row">
      <div class="col-xs-6 col-sm-4 col-md-3">
        <img src="images/salomao.png" alt="" class="img-circle team-img">
        <p class="team-name">Salomão Medeiros</p>
        <p class="team-office">Coordenador Geral</p>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <img src="images/nazareno.png" alt="" class="img-circle team-img">
        <p class="team-name">Nazareno Andrade</p>
        <p class="team-office">Coordenador técnico</p>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <img src="images/everaldo.png" alt="" class="img-circle team-img">
        <p class="team-name">Everaldo Silva</p>
        <p class="team-office">Supervisor</p>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <img src="images/chateau.png" alt="" class="img-circle team-img">
        <p class="team-name">Chateaubriand Almeida</p>
        <p class="team-office">Designer</p>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <img src="images/celio.jpeg" alt="" class="img-circle team-img">
        <p class="team-name">Célio Barros</p>
        <p class="team-office">Eng. de Software</p>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <img src="images/diego.jpg" alt="" class="img-circle team-img">
        <p class="team-name">Diego Coelho</p>
        <p class="team-office">Eng. de Software</p>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <img src="images/jefferson.jpg" alt="" class="img-circle team-img">
        <p class="team-name">Jefferson Neves</p>
        <p class="team-office">Eng. de Software</p>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <img src="images/tereza.png" alt="" class="img-circle team-img">
        <p class="team-name">Tereza Helena</p>
        <p class="team-office">Hidróloga</p>
      </div>
    </div>

  </div>
</div>

<div class="section section-secondary">
  <div class="container">
    <h3 class="section-title section-title-inverse">PARCEIROS</h3>
    <div class="row">
      <div class="col-xs-6 col-sm-4 col-md-3">
        <a href="http://www.ana.gov.br/">
          <img src="images/ana.svg" alt="" class="partners">
        </a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <a href="http://www.aesa.pb.gov.br/">
          <img src="images/aesa.svg" alt="" class="partners">
        </a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <a href="http://www.apac.pe.gov.br/">
          <img src="images/apac.svg" alt="" class="partners">
        </a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <a href="http://www.cogerh.com.br/">
          <img src="images/cogerh.svg" alt="" class="partners">
        </a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <a href="http://www.dnocs.gov.br/">
          <img src="images/dnocs.svg" alt="" class="partners">
        </a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <a href="http://www.funceme.br/">
          <img src="images/funceme.svg" alt="" class="partners">
        </a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <a href="http://www.inema.ba.gov.br/">
          <img src="images/inema.svg" alt="" class="partners">
        </a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <a href="http://www.rn.gov.br/">
          <img src="images/governo_rn.svg" alt="" class="partners">
        </a>
      </div>
    </div>
  </div>
</div>

<div class="section section-inverse">
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <div class="row">
           <ul class="list-unstyled">
              <li><h2>Assuntos</h2></li>
              <li><a href="#" class="inverse">Sobre</a></li>
              <li><a href="#" class="inverse">Equipe</a></li>
              <li><a href="#" class="inverse">Parceiros</a></li>
              <li><a href="#" class="inverse">De olho n'Água</a></li>
            </ul>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="row">
          <ul class="list-unstyled">
            <li><h2>Serviços</h2></li>
            <li><a href="http://www.insa.gov.br/" class="inverse">INSA</a></li>
            <li><a href="http://www.insa.gov.br/sigsab/" class="inverse">SIGSAB</a></li>
            <li><a href="www.acessoainformacao.gov.br/" class="inverse">Acesso à informação</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-4">
          <ul class="list-unstyled">
            <li><h2>Redes sociais</h2></li>
            <li><a href="https://www.facebook.com/InsaMcti/?fref=ts/" class="inverse">Facebook</a></li>
          </ul>
      </div>
    </div>
  </div>
</div>

<div class="section section-final">
  <div class="container">
    <div class="row">
      <div class="col-xs-7">
        <div class="row">
          <a href="http://www.insa.gov.br/">
            <img src="images/insa.svg" alt="" style="width: 150px;">
          </a>
          <a href="http://www.insa.gov.br/sigsab/">
            <img src="images/sigsab.svg" alt="" style="width: 150px;">
          </a>
        </div>
      </div>
      <div class="col-xs-5">
        <div class="row text-right">
          <a href="http://www.mcti.gov.br/">
            <img src="images/mcti.png" alt="" style="width: 150px;">
          </a>
          <a href="http://www.brasil.gov.br/">
            <img src="images/brasil.png" alt="" style="width: 150px;">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
