<div class="section section-inverse">
  <div class="container">
    <h1 class="section-title section-title-inverse text-center">SOBRE</h1>
    <div class="plaintext">
      <p>
        O sistema Olho N’Água é fruto de uma parceria entre o Instituto Nacional do Semiárido (INSA)
        e a Universidade Federal de Campina Grande (UFCG), através dos laboratórios Analytics e
        Hidráulica II, com o objetivo de compartilhar com a sociedade informações
        atualizadas sobre a disponibilidade de água nos principais reservatórios
        que atendem mais de 27 milhões de habitantes da região semiárida.
        Este esforço é parte integrante do Sistema de Gestão da Informação
        e do Conhecimento do Semiárido Brasileiro (SIGSAB), que reúne
        e disponibiliza informações econômicas, sociais, ambientais e
        da infraestrutura do Semiárido Brasileiro.
      </p>
      <p>
        Atualmente o sistema Olho N’Água acompanha 481 reservatórios de água
        distribuídos em nove Estados (Alagoas, Bahia, Ceará, Minas Gerais, Paraíba, Pernambuco,
        Piauí, Rio Grande do Norte e Sergipe)
        que compõem a região, totalizando uma capacidade máxima de armazenamento de 33.503 hm³.
      </p>
      <p>
        As informações dos níveis dos reservatórios são oriundas do monitoramento mensal
        realizado pela Agência Nacional de Águas (ANA), Agência Executiva de Gestão das
         Águas do Estado da Paraíba (AESA), Agência Pernambucana de Águas e Clima (APAC),
         Companhia de Gestão dos Recursos Hídricos (COGERH), Departamento Nacional de Obras
          Contra a Seca (DNOCS), Fundação Cearense de Meteorologia e Recursos Hídricos (FUNCEME),
          Instituto do Meio Ambiente e Recursos Hídricos (INEMA), Secretaria de Estado do Meio
          Ambiente e dos Recursos Hídricos do Rio Grande do Norte (SEMARH-RN), Operador Nacional
          do Sistema Elétrico (ONS), Companhia de Desenvolvimento dos Vales do São Francisco e do
          Parnaíba (CODEVASF), Companhia Pernambucana de Saneamento (COMPESA) e a Companhia de
          Engenharia Hídrica e de Saneamento da Bahia (CERB).
      </p>
    </div>
  </div>
</div>

<div class="section section-inverse">
  <div class="container">
    <h3 class="section-title section-title-inverse text-center">EQUIPE</h3>
    <div class="row">
      <div class="col-xs-6 col-sm-4 col-md-3">
        <img src="images/salomao.png" alt="" class="img-circle team-img">
        <p class="team-name">Salomão Medeiros</p>
        <p class="team-office">Coordenador geral</p>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <img src="images/nazareno.png" alt="" class="img-circle team-img">
        <p class="team-name">Nazareno Andrade</p>
        <p class="team-office">Coordenador técnico</p>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <img src="images/everaldo.png" alt="" class="img-circle team-img">
        <p class="team-name">Everaldo Silva</p>
        <p class="team-office">Supervisor</p>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <img src="images/chateau.png" alt="" class="img-circle team-img">
        <p class="team-name">Chateaubriand Almeida</p>
        <p class="team-office">Designer</p>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <img src="images/samir.jpg" alt="" class="img-circle team-img">
        <p class="team-name">Samir Medeiros</p>
        <p class="team-office">Engenheiro de software</p>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <img src="images/diego.jpg" alt="" class="img-circle team-img">
        <p class="team-name">Diego Coelho</p>
        <p class="team-office">Engenheiro de software</p>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <img src="images/tereza.png" alt="" class="img-circle team-img">
        <p class="team-name">Tereza Helena</p>
        <p class="team-office">Hidróloga</p>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <img src="images/carlos.png" alt="" class="img-circle team-img">
        <p class="team-name">Carlos Galvão</p>
        <p class="team-office">Hidrólogo</p>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <img src="images/guttemberg.jpg" alt="" class="img-circle team-img">
        <p class="team-name">Guttemberg Silvino</p>
        <p class="team-office">Hidrólogo</p>
      </div>
    </div>

  </div>
</div>

<ng-include src="'views/footer.html'"></ng-include>
